<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @move.username %>
</p>

<p>
  <strong>Friend username:</strong>
  <%= @move.friend_username %>
</p>

<p>
  <strong>Board:</strong>
  <%= @move.board_id %>
</p>

<p>
  <strong>Direction:</strong>
  <%= @move.direction %>
</p>

<%= link_to 'Edit', edit_move_path(@move) %> |
<%= link_to 'New', new_move_path %> |
<%= link_to 'Back', moves_path %>
